body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes emptyInput{
  0%{
      border: 2px solid light;
      }
  18%{
      border: 2px solid pink;
      }
  43%{
      border: 2px solid red;
      }
  68%{
      border: 2px solid pink;
      }
  99%{
      border: 2px solid light;
      }
}

.imp{
  animation: emptyInput 1.4s infinite 0s linear;
}